Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.project
.settings
.classpath
.factorypath
ravenbrain.log

# local property config
src/main/resources/application-local.properties
src/test/resources/application-test.properties

