#Sun Mar 23 02:53:58 UTC 2025
micronaut:
  application:
    name: raven-brain
  security:
    authentication: bearer
    token:
      jwt:
        signatures:
          secret:
            generator:
              secret: ${JWT_GENERATOR_SIGNATURE_SECRET\:defaultRavenBrainJwtSignatureSecret}
    enabled: true
  server:
    cors:
      enabled: true
    port: 8888
  servlet:
    async-supported: false
    test-async-supported: false
    async-file-serving-enabled: false
flyway:
  datasources:
    default:
      enabled: true
datasources:
  default:
    db-type: mysql
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:ravenbrain}?enabledTLSProtocols=TLSv1.2&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    driverClassName: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USERNAME:rb}
    password: ${MYSQL_PASSWORD:rb}
raven-eye:
  role-passwords:
    admin: ${ADMIN_PASSWORD:default_admin_password_123}
    expertscout: ${EXPERTSCOUT_PASSWORD:default_expert_scout_password_876}
    datascout: ${DATASCOUT_PASSWORD:default_data_scout_password__1}
    member: ${MEMBER_PASSWORD:team1310IsTheBest}
  frc-api:
    user: ${FRC_USER:tfield}
    key: ${FRC_KEY:abc123}
