# Common configuration - env-specific config is in application-local.properties
micronaut:
  application:
    name: raven-brain
  security:
    authentication: bearer
    token:
      jwt:
        signatures:
          secret:
            generator:
              secret: ${JWT_GENERATOR_SIGNATURE_SECRET\:defaultRavenBrainJwtSignatureSecret}
    enabled: true
  server:
    cors:
      enabled: true
      configurations:
        all:
          exposed-headers:
            - X-RavenBrain-Version
    port: 8888
  servlet:
    async-supported: false
    test-async-supported: false
    async-file-serving-enabled: false
flyway:
  datasources:
    default:
      enabled: true
datasources:
  default:
    db-type: mysql
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:ravenbrain}?enabledTLSProtocols=TLSv1.2&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    driverClassName: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USERNAME:foo}
    password: ${MYSQL_PASSWORD:bar}
raven-eye:
  team: 1310
  security:
    encryption-seed: ${ENCRYPTION_SEED:raven-brain-default-seed-change-me-in-production}
    superuser-password: ${SUPERUSER_PASSWORD:default_superuser_password_999}
    registration-secret: ${REGISTRATION_SECRET:default_registration_secret_123}
  frc-api:
    user: ${FRC_USER:frc_api_user_id}
    key: ${FRC_KEY:frc_api_user_key}
    ttl-seconds: 59
